<%= simple_form_for @recipe, html: { multipart: true } do |f| %>
  <% if @recipe.errors.any? %>
    <div id="errors">
      <p>
        <%= @recipe.errors.count %>
        prevented this Recipe from saving.
      </p>
      <ul>
        <%= @recipe.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel-body">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="panel-body">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="panel-body">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>
    
    <div class="row">
    <div class="col-md-8">
      <h3>Ingredients</h3>
      <div id="ingredients" class="border">
        <%= f.fields_for :ingredients do |ingredient| %>
          <%= render 'ingredient_fields', f: ingredient %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "Add Ingredient", f, :ingredients, class: 'btn btn-outline-success add-button' %>
        </div>
      </div>
    </div>
    </div>
  <div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
